.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}


.nav {
  font-size: 36px;
  display: flex;
  justify-content: center;
  background: #AB2A19;
  color: white;
  height: 40px;
  padding: 20px 0;
}

.link-wrap {

}

.links {
  background: #D34735;
}